h1{

    /* this is external css */
    padding-left: 300px;
}
.image1{
    /* padding-left: 300px; */
    border: solid 2px;
    position: left=300px;
}
.image2{
    padding-left: 300px;
    border: solid 2px;
}
body{
    background-image: url("icons/dest9.jpg");
    background-repeat:no-repeat;
    background-size: cover;

}